APP_NAME=Fundorex
APP_ENV=production
APP_KEY=base64:8e5wSFpua5CzuHhXJEaJHcpRFBR2nqLAV0zTURuXgLA=
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=YOUR_DATABASE_HOST
DB_PORT=3306
DB_DATABASE=YOUR_DATABASE_NAME
DB_USERNAME=YOUR_DATABASE_USERNAME
DB_PASSWORD=YOUR_DATABASE_PASSWORD


BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=YOUR_SMTP_HOST_NAME
MAIL_PORT=25
MAIL_USERNAME=YOUR_SMTP_USERNAME
MAIL_PASSWORD=YOUR_SMTP_USERNAME_PASSWORD
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


PAYSTACK_PUBLIC_KEY=pk_test_0a2cea63c4a34691fae697fb8f6b72a856e96e12
PAYSTACK_SECRET_KEY=sk_test_bfb4d04c41f8bcfa9fb6dac84eeb6ea54e1a93b4
PAYSTACK_PAYMENT_URL=https://api.paystack.co
MERCHANT_EMAIL=testxgenious@gmail.com

XGENIOUS_API_URL="https://xgenious.com/api/"
XGENIOUS_API_KEY="IX7Vmmb91jBSknjqBWeE9g186p9BDe5B"
XGENIOUS_API_ACTION="license_verify"
XGENIOUS_API_AUTHOR="xgenious"

RSS_FEED_URL="/feeds"
RSS_FEED_TITLE="My feeds"
RSS_FEED_DESCRIPTION="The description of the feed."
RSS_FEED_LANGUAGE=en

MOLLIE_KEY=test_fVk76gNbAp6ryrtRjfAVvzjxSHxC2v

FLW_PUBLIC_KEY=FLWPUBK_TEST-86cce2ec43c63e09a517290a8347fcab-X
FLW_SECRET_KEY=FLWSECK_TEST-d37a42d8917db84f1b2f47c125252d0a-X
FLW_SECRET_HASH=fundorex

PAYPAL_CLIENT_ID=ATx-SYQyPtXHw1bZaBDhJUZabxbutIqAqqZORgvgEoK_-9MrAkUzYkbt8pSnUyKNEdNN3aJt8tcpcY1I
PAYPAL_SECRET=ELJCWPUabUnnMamfw5-ZxaUsvir3KAJrPnAcSeS11znsroi45HP0p7y7vGZcYsBsAAi7Ou6kelCpj69K
PAYPAL_MODE=sandbox

PAYTM_ENVIRONMENT=local
PAYTM_MERCHANT_ID=Digita57697814558795
PAYTM_MERCHANT_KEY="dv0XtmsPYpewNag&"
PAYTM_MERCHANT_WEBSITE="WEBSTAGING"
PAYTM_CHANNEL=""
PAYTM_INDUSTRY_TYPE=""


FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

PAYPAL_SANDBOX_CLIENT_ID=AUP7AuZMwJbkee-2OmsSZrU-ID1XUJYE-YB-2JOrxeKV-q9ZJZYmsr-UoKuJn4kwyCv5ak26lrZyb-gb
PAYPAL_SANDBOX_CLIENT_SECRET=EEIxCuVnbgING9EyzcF2q-gpacLneVbngQtJ1mbx-42Lbq-6Uf6PEjgzF7HEayNsI4IFmB9_CZkECc3y
PAYPAL_SANDBOX_APP_ID=456345645645
PAYPAL_LIVE_CLIENT_ID=
PAYPAL_LIVE_CLIENT_SECRET=
PAYPAL_LIVE_APP_ID=
PAYPAL_PAYMENT_ACTION=
PAYPAL_CURRENCY=USD
PAYPAL_NOTIFY_URL=http://gateway.test/paypal/ipn
PAYPAL_LOCALE=en_GB
PAYPAL_VALIDATE_SSL=false


RAZORPAY_API_KEY=rzp_test_SXk7LZqsBPpAkj
RAZORPAY_API_SECRET=Nenvq0aYArtYBDOGgmMH7JNv

STRIPE_PUBLIC_KEY=pk_test_51GwS1SEmGOuJLTMsIeYKFtfAT3o3Fc6IOC7wyFmmxA2FIFQ3ZigJ2z1s4ZOweKQKlhaQr1blTH9y6HR2PMjtq1Rx00vqE8LO0x
STRIPE_SECRET_KEY=sk_test_51GwS1SEmGOuJLTMs2vhSliTwAGkOt4fKJMBrxzTXeCJoLrRu8HFf4I0C5QuyE3l3bQHBJm3c0qFmeVjd0V9nFb6Z00VrWDJ9Uw


IDR_EXCHANGE_RATE=14365.30
INR_EXCHANGE_RATE=74.85
NGN_EXCHANGE_RATE=409.91
ZAR_EXCHANGE_RATE=15.86
BRL_EXCHANGE_RATE=5.70

MIDTRANS_MERCHANT_ID=G770543580
MIDTRANS_SERVER_KEY=SB-Mid-server-9z5jztsHyYxEdSs7DgkNg2on
MIDTRANS_CLIENT_KEY=SB-Mid-client-iDuy-jKdZHkLjL_I
MIDTRANS_ENVAIRONTMENT=false

PF_MERCHANT_ID=10024000
PF_MERCHANT_KEY=77jcu5v4ufdod
PAYFAST_PASSPHRASE=testpayfastsohan
PF_ITN_URL=https://fundorex.test/donation-payfast

CASHFREE_APP_ID=94527832f47d6e74fa6ca5e3c72549
CASHFREE_SECRET_KEY=ec6a3222018c676e95436b2e26e89c1ec6be2830

INSTAMOJO_CLIENT_ID=test_nhpJ3RvWObd3uryoIYF0gjKby5NB5xu6S9Z
INSTAMOJO_CLIENT_SECRET=test_iZusG4P35maQVPTfqutbCc6UEbba3iesbCbrYM7zOtDaJUdbPz76QOnBcDgblC53YBEgsymqn2sx3NVEPbl3b5coA3uLqV1ikxKquOeXSWr8Ruy7eaKUMX1yBbm
INSTAMOJO_USERNAME=
INSTAMOJO_PASSWORD=

MERCADO_PAGO_CLIENT_ID=TEST-0a3cc78a-57bf-4556-9dbe-2afa06347769
MERCADO_PAGO_CLIENT_SECRET=TEST-4644184554273630-070813-7d817e2ca1576e75884001d0755f8a7a-786499991

SITE_GLOBAL_CURRENCY=USD
CASHFREE_TEST_MODE=true




